@page "/Classes"
@inject EntityDataManager DataManager

<h3>Classes</h3>

<div class="container-fluid">
    @if (EntityDataForm != null)
    {
        <div class="row">
            <div class="col-sm-6">

                <EditForm Model="EntityDataForm" OnValidSubmit="SubmitForm">
                    <DataAnnotationsValidator />

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Name:</div>
                        </div>
                        <div class="col-9">
                            <InputText class="form-control" @bind-Value="EntityDataForm.Name"></InputText>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Strength:</div>
                        </div>
                        <div class="col-3">
                            <InputNumber class="form-control" @bind-Value="EntityDataForm.Strength"></InputNumber>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Dexterity:</div>
                        </div>
                        <div class="col-3">
                            <InputNumber class="form-control" @bind-Value="EntityDataForm.Dexterity"></InputNumber>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Cunning:</div>
                        </div>
                        <div class="col-3">
                            <InputNumber class="form-control" @bind-Value="EntityDataForm.Cunning"></InputNumber>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Willpower:</div>
                        </div>
                        <div class="col-3">
                            <InputNumber class="form-control" @bind-Value="EntityDataForm.Willpower"></InputNumber>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Magic:</div>
                        </div>
                        <div class="col-3">
                            <InputNumber class="form-control" @bind-Value="EntityDataForm.Magic"></InputNumber>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Constitution:</div>
                        </div>
                        <div class="col-3">
                            <InputNumber class="form-control" @bind-Value="EntityDataForm.Constitution"></InputNumber>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Health Formula:</div>
                        </div>
                        <div class="col-9">
                            <InputText class="form-control" @bind-Value="EntityDataForm.HealthFormula"></InputText>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Stamina Formula:</div>
                        </div>
                        <div class="col-9">
                            <InputText class="form-control" @bind-Value="EntityDataForm.StaminaFormula"></InputText>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 text-end">
                            <div class="form-label">Mana Formula:</div>
                        </div>
                        <div class="col-9">
                            <InputText class="form-control" @bind-Value="EntityDataForm.ManaFormula"></InputText>
                        </div>
                    </div>

                    <button class="btn btn-primary mb-2 me-2" type="submit">Create</button>
                    <button class="btn btn-outline-secondary" type="button" @onclick="() => EntityDataForm = null">Cancel</button>

                    <ValidationSummary />

                </EditForm>

            </div>
            <hr />
        </div>
    }
    <div class="row mt-3">
        <div class="col-sm-12 mb-3">
            @if (EntityDataForm == null)
            {
                <button class="btn btn-primary" @onclick="() => EntityDataForm = new()">Create New</button>
            }
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered table-primary table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Strength</th>
                        <th>Dexterity</th>
                        <th>Cunning</th>
                        <th>Willpower</th>
                        <th>Magic</th>
                        <th>Constitution</th>
                        <th>Health Formula</th>
                        <th>Stamina Formula</th>
                        <th>Mana Formula</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entityData in EntityDataList)
                    {
                        <tr>
                            <td>@entityData.EntityName</td>
                            <td>@entityData.Strength</td>
                            <td>@entityData.Dexterity</td>
                            <td>@entityData.Cunning</td>
                            <td>@entityData.Willpower</td>
                            <td>@entityData.Magic</td>
                            <td>@entityData.Constitution</td>
                            <td>@entityData.HealthFormula</td>
                            <td>@entityData.StaminaFormula</td>
                            <td>@entityData.ManaFormula</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    Form? EntityDataForm { get; set; }
    List<EntityData> EntityDataList = new();

    protected override void OnInitialized()
    {
        EntityDataList.AddRange(DataManager.EntityData.Values);
    }

    void SubmitForm()
    {
        if (EntityDataForm is null) return;

        //var entity = new EntityData(
        //    EntityDataForm.Name,
        //    EntityDataForm.Strength,
        //    EntityDataForm.Dexterity,
        //    EntityDataForm.Cunning,
        //    EntityDataForm.Willpower,
        //    EntityDataForm.Magic,
        //    EntityDataForm.Constitution,
        //    EntityDataForm.HealthFormula,
        //    EntityDataForm.StaminaFormula,
        //    EntityDataForm.ManaFormula
        //);
        //EntityDataList.Add(entity);
        EntityDataForm = null;
    }

    class Form
    {
        [Required, StringLength(100, MinimumLength = 3)]
        public string Name { get; set; } = "";
        [Required]
        public int Strength { get; set; }
        [Required]
        public int Dexterity { get; set; }
        [Required]
        public int Cunning { get; set; }
        [Required]
        public int Willpower { get; set; }
        [Required]
        public int Magic { get; set; }
        [Required]
        public int Constitution { get; set; }
        [Required, StringLength(100)]
        public string HealthFormula { get; set; } = "";
        [Required, StringLength(100)]
        public string StaminaFormula { get; set; } = "";
        [Required, StringLength(100)]
        public string ManaFormula { get; set; } = "";
    }
}