@page "/Entities"
@inject GameDataManager GameDataManager

<h3>Entities</h3>

<div class="container-fluid">
    @if (Edit != null)
    {
        <EditForm Model="Edit" OnValidSubmit="SubmitForm">
            <DataAnnotationsValidator />

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Name:</div>
                </div>
                <div class="col-9">
                    <InputText class="form-control" @bind-Value="Edit.Name"></InputText>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Strength:</div>
                </div>
                <div class="col-3">
                    <InputNumber class="form-control" @bind-Value="Edit.Strength"></InputNumber>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Dexterity:</div>
                </div>
                <div class="col-3">
                    <InputNumber class="form-control" @bind-Value="Edit.Dexterity"></InputNumber>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Cunning:</div>
                </div>
                <div class="col-3">
                    <InputNumber class="form-control" @bind-Value="Edit.Cunning"></InputNumber>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Willpower:</div>
                </div>
                <div class="col-3">
                    <InputNumber class="form-control" @bind-Value="Edit.Willpower"></InputNumber>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Magic:</div>
                </div>
                <div class="col-3">
                    <InputNumber class="form-control" @bind-Value="Edit.Magic"></InputNumber>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Constitution:</div>
                </div>
                <div class="col-3">
                    <InputNumber class="form-control" @bind-Value="Edit.Constitution"></InputNumber>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Health Formula:</div>
                </div>
                <div class="col-9">
                    <InputText class="form-control" @bind-Value="Edit.HealthFormula"></InputText>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Stamina Formula:</div>
                </div>
                <div class="col-9">
                    <InputText class="form-control" @bind-Value="Edit.StaminaFormula"></InputText>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-end">
                    <div class="form-label">Mana Formula:</div>
                </div>
                <div class="col-9">
                    <InputText class="form-control" @bind-Value="Edit.ManaFormula"></InputText>
                </div>
            </div>

            <button class="btn btn-primary me-2" type="submit">Save</button>
            <button class="btn btn-outline-primary" type="button" @onclick="() => Edit = null">Cancel</button>

            <ValidationSummary />
            <hr class="mt-2" />
        </EditForm>
    }
    <div class="row mt-2">
        <div class="col-sm-12 mb-2">
            @if (Edit == null)
            {
                <button class="btn btn-primary" @onclick="() => Edit = new()">Create New</button>
            }
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered table-primary table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Stats</th>
                        <th>Health Formula</th>
                        <th>Stamina Formula</th>
                        <th>Mana Formula</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Data)
                    {
                        <tr>
                            <td>@data.Name</td>
                            <td>@data.Strength, @data.Dexterity, @data.Cunning, @data.Willpower, @data.Magic, @data.Constitution</td>
                            <td>@data.HealthFormula</td>
                            <td>@data.StaminaFormula</td>
                            <td>@data.ManaFormula</td>
                            <td>
                                <button class="btn btn-info" @onclick="() => Edit = data.Clone()">Edit</button>
                                <button class="btn btn-danger ml-2" @onclick="() => Delete(data)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    EntityData? Edit { get; set; }
    List<EntityData> Data = new();

    protected override void OnInitialized()
    {
        Data = GameDataManager.Entities.Queryable().ToList();
    }

    void Delete(EntityData data)
    {
        GameDataManager.Entities.Delete(data);
        Data = GameDataManager.Entities.Queryable().ToList();
        Edit = null;
    }

    void SubmitForm()
    {
        if (Edit is null) return;
        GameDataManager.Entities.Upsert(Edit);
        Data = GameDataManager.Entities.Queryable().ToList();
        Edit = null;
    }
}